body {
    margin: 0px;
    background-color: limegreen;
}
.logo {
    display: block;
    max-width: 75px;
    margin: auto;
    padding: 10px;
}
nav {
    width: 100%;
    background-color: whitesmoke;
    overflow: hidden;
}
nav h1 {
    margin: auto;
    font-family: 'Creepster', cursive;
    font-size: 55px;
    text-align: center;
    color: rgb(218, 17, 110);
}
nav ul {
   margin-top: 0px;
   display: block;
   font-family: 'Arvo', serif;
   font-size: 50px;
   text-decoration: none; 
   text-align: center;
   margin-bottom: 0px;
   padding: 0px;
}
a:link {
    color: yellow;
    
}
a:visited {
    color: pink;
}
a:hover {
    color: rgb(174, 218, 17);
}
a:active {
    color: yellowgreen;
}
ul {
list-style-type: none;
}
section {
    width: auto;
    background-color: lavender;
}
article {
    margin-left: 10px;
    margin-right: 10px;   
    font-family: 'Arvo', serif;
    color: purple;

}
h2 {
    font-size: 20px;
    text-align: center;
}
img {
    max-width: 100%;
}
@media (min-width: 768px) {
    nav img {
        float: left;
    }
    nav h1 {
        font-size: 150px;
        line-height: .9;
    }
    ul {
        margin: 0px;
        overflow: hidden;  
    }
    li {
        float: left;
        padding: 25px;
    }
    li a{
        text-align: center;
    }
    nav ul {
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .logo{
        max-width: 225px;
        margin: 10px;
    }
    .logo nav{
        float: left; 
    }
    section {
       display: block; 
    }
    section h2 {
        margin-top: 5px;
        font-size: 40px;
    }
    section h3 {
        font-size: 35px;
    }
    section img {
        float: left;
        max-width: 39%;
        margin-right: 15px;
        margin-left: 15px;
    }
}

@media (min-width: 1023px) {
    .logo {
        display: block;
        max-width: 75px;
        margin: auto;
        padding: 10px;
        
    }
    nav {
        height: 100px;
    }
    nav h1 {
        margin: auto;
        font-family: 'Creepster', cursive;
        font-size: 55px;
        text-align: left;
        color: rgb(218, 17, 110);
        float: left;
        padding: 25px;
    }
    li {
        float: right;
        padding: 20px;
        text-align: center;
        margin-top: 25px;
    }
    nav ul {
        font-size: 20px;
        display: flex;
        flex-direction: inherit;
        float: right;
    }
    section {
        overflow: hidden;
    }
    section h2 {
       font-size: 50px; 
    }
    section h3 {
        font-size: 25px;
    }
    article img {
        width: 50%;
    }
    .bjork p {
        margin: 10px;
    }
    .melvins p{
        margin: 10px;
    }
    div {
        width: 50%;
        float: left;
    }
}