.barbie-bg {
    background-color: rgb( 224, 5, 133);
}
.strawberry-bg {
    background-color: rgb(251, 75, 178);
}
.blue-bg {
    background-color: rgb(63, 136, 197);
}
.violet-bg{
    background-color: rgb(47, 1, 71);
}
.lavender-bg{
    background-color: rgb(218, 224, 242);
}

.strawberry-tx {
    color: rgb(251, 75, 178)
}
.violet-tx {
    color: rgb(47, 1, 71)
}
.lavender-tx{
    color: rgb(218, 224, 242);
}